body{
	background-image: url("../images/pink dust.png");
	font-family: 'Bubbler One', sans-serif;

}
#mainbox {
	margin: 100px auto;
	text-align: center;
	height: 1050px;
	width: 605px;
	border-style: dashed;
	border-color: #f1b695;
	background-color: white;
	border-width: 5px;
	

}
#answers{
	margin: 100px auto;
	text-align: center;
	height: 250px;
	width: 605px;
	border-style: dashed;
	border-color: #f1b695;
	background-color: white;
	border-width: 5px;

}